.message-area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #4d0013;
  height: 100vh;
  .message-cont {
    width: 80%;
    margin-top: 15rem;
    .rdt_TableHead div {
      font-size: 6rem;
    }
    .rdt_TableHeadRow div {
      font-size: 4rem;
    }

    .rdt_TableBody div {
      font-size: 4rem;
    }
  }
}

.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d0013;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid var(--brighter-gold);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  th {
    font-size: 2rem;
  }
  td {
    font-size: 1.8rem;
  }
}

.dataTables_filter {
  margin-bottom: 2rem;
  label,
  input {
    color: #d4af37;
    font-size: 2rem;
    font-family: arial, sans-serif;
  }
  input {
    font-size: 1.6rem;
    color: white;
  }
}

.dataTables_paginate {
  color: #d4af37 !important;
  font-size: 1.8rem;
  font-family: arial, sans-serif;
}

.dataTables_info {
  color: #d4af37 !important;
  font-size: 1.6rem;
  font-family: arial, sans-serif;
}

.dt-buttons {
  button {
    font-size: 2rem;
  }
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color: #d4af37;
}

td {
  color: #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
