.story-m {
  margin-top: 8.6rem;
  .story-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 12rem;
    div {
      height: 56rem;
      width: 120rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-image: url("../images/Couple_04.webp");
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 10px;
    }
  }
  .cpl-tline-sec {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .cpl-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-family: "Tangerine", cursive;
        font-weight: 400;
        font-size: 13rem;
        text-align: center;
        color: #400010;
        letter-spacing: 5%;
      }
      img {
        height: 7rem;
        width: auto;
      }
    }
    .cpl-tline-container {
      width: 80%;
      margin-top: 10rem;
      margin-bottom: 12rem;
      .cpl-tline {
        .tline {
          .tline-item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            gap: 3rem;
            .img-area {
              .img-bg {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border-radius: 1rem;
                height: 21rem;
                width: 40rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                &.c1 {
                  background-image: url("../images/Couple_06.webp");
                }
                &.c2 {
                  background-image: url("../images/Couple_07.webp");
                }
                &.c3 {
                  background-image: url("../images/Riccardo.webp");
                }
                &.c4 {
                  background-image: url("../images/Family_01.webp");
                }
                &.c5 {
                  background-image: url("../images/Couple_08.webp");
                }
              }
              h1 {
                font-family: "Tangerine", cursive;
                font-weight: 700;
                font-size: 4.8rem;
                color: #400010;
                margin-top: 2.5rem;
              }
              .fp {
                margin-top: 0.7rem;
                font-family: "Tangerine", cursive;
                font-weight: 400;
                font-size: 3.2rem;
                line-height: 3rem;
                color: #400010;
              }
              .sp {
                margin-top: 2.5rem;
                font-family: "Tangerine", cursive;
                font-weight: 400;
                font-size: 3.2rem;
                line-height: 3rem;
                color: #400010;
              }
              .tp {
                margin-top: 2.5rem;
                font-family: "Tangerine", cursive;
                font-weight: 400;
                font-size: 3.2rem;
                line-height: 3rem;
                color: #400010;
              }
            }
            .empty-div {
              width: 40rem;
              height: 100%;
            }
            .tline-ind {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 5rem;

              .he {
                position: relative;
                .big-line {
                  position: absolute;
                  top: 104rem;
                  left: 50%;
                  border-left: 1px dashed #400010;
                  width: 0;
                  height: 194rem;
                  transform: translate(-50%, -50%);
                  z-index: 1;
                }
                h1 {
                  font-weight: 900;
                  font-family: "Merriweather", sans-serif;
                  font-size: 3.2rem;
                  text-align: center;
                  z-index: 2;
                  width: 19.2rem;
                  padding: 1.7rem 5rem;
                  border-radius: 8px;
                  background-color: rgba(64, 0, 16, 0.8);
                  color: white;
                }
              }
            }
          }
          .tline-item.right {
            justify-content: end;
            align-items: flex-start;
          }
          .tline-item.left {
            justify-content: start;
            align-items: flex-start;
          }
        }
      }
    }
  }
}

.couple-sec {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/homebg.svg");
  height: 110rem;
  width: auto;
  .couple-cont {
    position: relative;
    .couple-area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      h1 {
        font-family: "Tangerine", cursive;
        font-weight: 700;
        font-size: 7.5rem;
        text-align: center;
        color: white;
        line-height: 7rem;
      }
      .main-couple {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        .img-box {
          img {
            width: 36rem;
            height: 65rem;
            border-radius: 1rem;
          }
        }
        .wedding-cards {
          .card-item {
            background-color: white;
            border-radius: 0.8rem;
            position: relative;
            .card-img {
              position: absolute;
              top: 0%;
              left: 13%;
              transform: translate(-50%, -50%);
              img {
                width: 9.1rem;
                height: 9.2rem;
              }
            }
            .card-wrt {
              padding: 5.5rem 2.4rem 2.4rem 2.4rem;
              width: 100%;
              p {
                font-family: "Tangerine", cursive;
                font-weight: 400;
                font-size: 3.5rem;
                line-height: 3rem;
                color: #400010;
              }
              .card-divider {
                height: 1px;
                width: 100%;
                background-color: #e6e6e6;
                margin-top: 2.4rem;
                margin-bottom: 2.4rem;
              }
              .card-footer {
                p {
                  font-family: "Tangerine", cursive;
                  font-weight: 700;
                  font-size: 2.8rem;
                  color: #400010;
                  margin-bottom: 0.8rem;
                }
                span {
                  font-family: "Tangerine", cursive;
                  font-weight: 400;
                  font-size: 2.8rem;
                  color: #400010;
                }
              }
            }
          }
          .card-item.v2 {
            margin-top: 8rem;
          }
        }
      }
    }
  }
}

.couple-sec-mob {
  display: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/homebg.svg");
  height: 110rem;
  width: auto;
  .couple-cont {
    position: relative;
    .couple-area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      h1 {
        font-family: "Tangerine", cursive;
        font-weight: 700;
        font-size: 7.5rem;
        text-align: center;
        color: white;
        line-height: 7rem;
      }
      .main-couple {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        .img-box {
          img {
            width: 36rem;
            height: 65rem;
            border-radius: 1rem;
          }
        }
        .wedding-cards {
          .card-item {
            background-color: white;
            border-radius: 0.8rem;
            position: relative;
            .card-img {
              position: absolute;
              top: 0%;
              left: 13%;
              transform: translate(-50%, -50%);
              img {
                width: 9.1rem;
                height: 9.2rem;
              }
            }
            .card-wrt {
              padding: 5.5rem 2.4rem 2.4rem 2.4rem;
              width: 100%;
              p {
                font-family: "Tangerine", cursive;
                font-weight: 400;
                font-size: 3.5rem;
                line-height: 3rem;
                color: #400010;
              }
              .card-divider {
                height: 1px;
                width: 100%;
                background-color: #e6e6e6;
                margin-top: 2.4rem;
                margin-bottom: 2.4rem;
              }
              .card-footer {
                p {
                  font-family: "Tangerine", cursive;
                  font-weight: 700;
                  font-size: 2.8rem;
                  color: #400010;
                  margin-bottom: 0.8rem;
                }
                span {
                  font-family: "Tangerine", cursive;
                  font-weight: 400;
                  font-size: 2.8rem;
                  color: #400010;
                }
              }
            }
          }
          .card-item.v2 {
            margin-top: 8rem;
          }
        }
      }
    }
  }
}
